*{
    margin: 0;
    padding: 0;
}
img{
    vertical-align: top;
}

.js-slider{
    width: 310px;
    height: 265px;
    margin:100px auto;
    position: relative;
    overflow: hidden;
}

.slider-box{
    width: 310px;
    height: 220px;
}

.slider-main{
    width: 620px;
    height: 220px;
}

.slider-main-img{
    position: absolute;
    top:0;
    left:0;
    width: 310px;
    height: 220px;
}

.slider-ctrl{
    padding-top: 5px;
    text-align: center;
}

.slider-ctrl-con{
    width: 24px;
    height: 20px;
    display: inline-block;
    margin:  0 5px;
    cursor: pointer;
    background: url(../images/icon.png) no-repeat -24px -782px;
    text-indent: -200em;
}

.slider-ctrl-con.current{
    background-position: -24px -762px;
}

.slider-ctrl-prev,.slider-ctrl-next{
    position: absolute;
    top: 50%;
    margin-top: -35px;
    background:url(../images/icon.png) no-repeat 6px top;
    width: 30px;
    height: 35px;
    opacity: 0.8;
    cursor: pointer;
}

.slider-ctrl-prev{
    left: 0;
}
.slider-ctrl-next{
    right:0;
    background-position:-6px -44px;
}