* {
    margin: 0;
    padding: 0;
}

.top img, .nav img {
    vertical-align: top;
    width: 100%;
}

.nav-fixed{
    position: fixed;
    top: 0;
    left: 0;
}

.main {
    margin: 0 auto;
    text-align: center;
}

.ad{
    position: absolute;
    top: 80px;
    left: 10px;
    display: none;
}

.gotoTop{
    position: fixed;
    right: 50px;
    bottom: 20px;
    display: none;
}